:root {
    --primary-color: #000;
    --primary-color-rgb: 0 0 0;

    --secondary-color: #e5e5e5;
    --secondary-color-rgb: 229 229 229;

    --tertiary-color: #fff;
    --tertiary-color-rgb: 255 255 255;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

.Header {
    background-color: #000;
    min-height: 57px;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 10;
}

.Header__burger {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 42px;
    height: 57px;
}

.Header__burger span {
    width: 31px;
    height: 4px;
    background-color: var(--tertiary-color);
    display: block;
    position: relative;
}

.Header__burger span::before,
.Header__burger span::after {
    content: "";
    width: 31px;
    height: 4px;
    background-color: var(--tertiary-color);
    display: block;
    position: absolute;
}
.Header__burger span::before {
    transform: translateY(-10px);
}
.Header__burger span::after {
    transform: translateY(10px);
}

.Header__burger span,
.Header__burger span::before,
.Header__burger span::after {
    border-radius: 2px;
    transition: 0.3s;
}

/* on burger open */

.Header__burger--open {
}

.Header__burger--open span::before {
    transform: translateY(0);
}
.Header__burger--open span::after {
    transform: translateY(0);
}

.Header__burger:focus-within span::before {
    transform: translateY(0);
    color: red;
}
.Header__burger:focus-within span::after {
    transform: translateY(0);
}

.Header__links {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    position: absolute;
    top: 57px;
    left: -100%;
    transition: 0.7s;
}

.Header__links::before {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    border: thin solid var(--tertiary-color);
    z-index: 1;
}

.Header__links-item {
    background-color: rgb(var(--primary-color-rgb) / 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -105%;
}

.Header__burger--open ~ .Header__links {
    visibility: visible;
    left: 0;
}

.Header__burger--open ~ .Header__links .Header__links-item {
    left: 0;
}

.Header__link {
    color: var(--tertiary-color);
    min-height: 57px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Header__links-item--inverted {
    background-color: rgb(var(--tertiary-color-rgb) / 0.7);
}
.Header__links-item--inverted .Header__link {
    color: var(--primary-color);
}

.Welcome-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--tertiary-color);
}

.Welcome-screen__greetings {
    margin: 0;
}
.Welcome-screen__name {
    margin: 0 0 4px 0;
}
.Welcome-screen__role {
    margin: 0 0 14px 0;
}

.Welcome-screen__links {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    column-gap: 2rem;
}

.Welcome-screen__break-line {
    height: 3px;
    width: 100px;
    border-radius: 3px;
    background-color: var(--tertiary-color);
    margin: 0 0 26px 0;
}

.Welcome-screen__links img {
    width: 29px;
}

.About {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary-color);
    padding: 74px 0 0 0;
}

.About__title,
.Skills__title,
.Portfolio__title {
    text-transform: uppercase;
    max-width: 210px;
    width: 100%;
    border: 8px solid var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    margin-bottom: 38px;
    font-weight: bold;
    letter-spacing: 0.43em;
    font-size: 1rem;
}

.About__text-container {
    max-width: 265px;
}

.About__text {
    font-weight: 300;
    margin: 0;
    font-size: 0.75rem;
    line-height: 1rem;
    text-align: justify;
}

.About__text:first-child {
    margin-bottom: 1rem;
}
.About__text:last-child {
    margin-bottom: 30px;
}

.About__subtitle {
    border-left: 3px solid var(--primary-color);
    border-right: 3px solid var(--primary-color);
    text-transform: uppercase;
    padding: 0.5rem 1.9rem;
    font-weight: bold;
    letter-spacing: 0.1em;
}

.Skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary-color);
    padding: 100px 50px;
}

.Skills__title {
    margin: 0;
}

.Skills__items-wrapper {
}

.Skills__subtitle {
    text-transform: uppercase;
    text-align: center;
    margin: 47px 0;
    font-size: 1.35em;
}

.Skills__items {
    list-style: none;
    padding: 0;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 3rem;
}

.Skills__item {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Skills__item-image {
    max-width: 150px;
}

.Skills__item-title {
}

.Portfolio {
    padding: 65px 1rem 1rem;
    display: flex;
    flex-direction: column;
}

.Portfolio__title {
    align-self: center;
}

.Portfolio__items {
}

.Portfolio__item {
    position: relative;
}

.Portfolio__item:not(:last-child) {
    margin-bottom: 4rem;
}

.Portfolio__item:not(:last-child)::before {
    content: "";
    position: absolute;
    bottom: -2rem;
    left: 50%;
    transform: translateX(-50%);

    height: 5px;
    width: 150px;
    border-radius: 3px;
    background-color: var(--primary-color);
}

.Portfolio__item-image {
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 40vh;
    width: 100%;
}

.Portfolio__item-title {
    margin: 0 0 1rem;
}

.Portfolio__item-description {
    margin: 0 0 1rem;
}

.Portfolio__item-link-container {
    margin-bottom: 1rem;
    display: flex;
    column-gap: 0.7rem;
}

.Portfolio__item-link {
    color: var(--primary-color);
}

.Footer {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 46px 0 55px 0;
}

.Footer__back-to-top {
    text-transform: uppercase;
    color: var(--tertiary-color);
    position: relative;
    margin-bottom: 45px;
    padding-top: 2rem;
}

.Footer__back-top-top-arrow {
    transform: rotate(-90deg) translateY(-50%);
    position: absolute;
    top: 0%;
    left: 50%;
}

.Footer__links {
    display: flex;
}

.Footer__links {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    column-gap: 2rem;
}
.Footer__links img {
    width: 29px;
}
