:root {
    --primary-color: #000;
    --primary-color-rgb: 0 0 0;

    --secondary-color: #e5e5e5;
    --secondary-color-rgb: 229 229 229;

    --tertiary-color: #fff;
    --tertiary-color-rgb: 255 255 255;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

.Header {
    background-color: #000;
    min-height: 57px;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.Header__burger {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 42px;
    height: 57px;
}

.Header__burger span {
    width: 31px;
    height: 4px;
    background-color: var(--tertiary-color);
    display: block;
    position: relative;
}

.Header__burger span::before,
.Header__burger span::after {
    content: "";
    width: 31px;
    height: 4px;
    background-color: var(--tertiary-color);
    display: block;
    position: absolute;
}
.Header__burger span::before {
    transform: translateY(-10px);
}
.Header__burger span::after {
    transform: translateY(10px);
}

.Header__burger span,
.Header__burger span::before,
.Header__burger span::after {
    border-radius: 2px;
    transition: 0.3s;
}

/* on burger open */

.Header__burger--open {
}

.Header__burger--open span::before {
    transform: translateY(0);
}

.Header__burger--open span::after {
    transform: translateY(0);
}

.Header__links {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    position: absolute;
    top: 57px;
    transition: 0.3s;
}

.Header__links::before {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    border: thin solid var(--tertiary-color);
    z-index: 1;
}

.Header__links-item {
    background-color: rgb(var(--primary-color-rgb) / 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -105%;
}

.Header__burger--open ~ .Header__links .Header__links-item {
    left: 0;
}

.Header__link {
    color: var(--tertiary-color);
    min-height: 57px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Header__links-item--inverted {
    background-color: rgb(var(--tertiary-color-rgb) / 0.7);
}
.Header__links-item--inverted .Header__link {
    color: var(--primary-color);
}

.Welcome-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--tertiary-color);
}

.Welcome-screen__greetings {
    margin: 0;
}
.Welcome-screen__name {
    margin: 0 0 4px 0;
}
.Welcome-screen__role {
    margin: 0 0 14px 0;
}

.Welcome-screen__links {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    column-gap: 2rem;
}

.Welcome-screen__break-line {
    height: 3px;
    width: 100px;
    border-radius: 3px;
    background-color: var(--tertiary-color);
    margin: 0 0 26px 0;
}

.Welcome-screen__links img {
    width: 29px;
}

.About {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary-color);
    padding: 74px 0 66px 0;
}

.About__title {
    text-transform: uppercase;
    max-width: 210px;
    width: 100%;
    border: 8px solid var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    margin-bottom: 38px;
    font-weight: bold;
    letter-spacing: 0.43em;
}

.About__text-container {
    max-width: 265px;
}

.About__text {
    font-weight: 300;
    margin: 0;
    font-size: 0.75rem;
    line-height: 1rem;
    text-align: justify;
}

.About__text:first-child {
    margin-bottom: 1rem;
}
.About__text:last-child {
    margin-bottom: 30px;
}

.About__subtitle {
    border-left: 3px solid var(--primary-color);
    border-right: 3px solid var(--primary-color);
    text-transform: uppercase;
    padding: 0.5rem 1.9rem;

    font-weight: bold;
    letter-spacing: 0.1em;
}
